<!-- <p>newsletter works!</p> -->

<section class="newsletter section home-newsletter">
    <div class="newsletter-container container grid">
        <h3 class="newsletter-title flex">
            <img src="img/icon-email.svg" alt="" class="newsletter-icon">
            Subscribe to our Newsletter
        </h3>
        <p class="newsletter-description">
            ...and receive the ₹100 coupon for your first purchase! 
        </p>

        <form action="" class="newsletter-form">
            <input type="email" placeholder="Enter your email" class="newsletter-input" required>
            <button type="submit" class="newsletter-btn">Subscribe</button>
        </form>
    </div>

</section>