
/*=================== Header  &  nav ====================*/

.header-top {
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-block: 0.875rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contact span:first-child {
  margin-right: 2rem;
}

.header-contact span,
.header-alert-news,
.header-top-action {
  font-size: var(--small-font-size);
}

.header-alert-news {
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}

.header-top-action {
  color: var(--text-color);
}

.nav,
.nav-menu,
.nav-list,
.header-user-actions,
.nav-logo {
  display: flex;
  align-items: center;
}

.nav {
  height: calc(var(--header-height) + 2.5rem);
  justify-content: space-between;
}

.nav-logo {
  width: max-content;
}

.nav-logo-text {
  font-weight: var(--weight-800);
  padding: 0 0.25rem;
  font-family: var(--log-font);
}

.nav-logo-img {
  width: 40px;
}

.nav-menu {
  width: 100%;
  // margin-left: 2.5rem;
  margin: 0 0.5rem 0 2.5rem;
}

.nav-list {
  column-gap: 2.5rem;
  margin-right: auto;
}

.nav-link {
  color: var(--title-color);
  font-weight: var(--weight-700);
  transition: all 0.2s var(--transition);
}

.header-search {
  width: 340px;
  position: relative;
}

.header-search .form-input {
  width: 100%;
}

.search-btn {
  position: absolute;
  top: 16%;
  right: 0.75rem;
  cursor: pointer;
  font-size: var(--large-font-size);
}

.header-user-actions {
  column-gap: 1.2rem;
}

.header-action-btn {
  position: relative;
}

.header-action-btn i {
  font-size: 24px;
}

.header-action-btn .count {
  background-color: var(--first-color);
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);
}

// Active Link
.active-link,
.nav-link:hover {
  color: var(--first-color);
}
