.container{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.header-top{
    background-color: var(--first-color-alt);
    border-bottom: 1px solid var(--first-color);
    padding-block: 0.875rem;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact span:first-child{
    margin-right: 2rem;
}

.header-contact span,.header-alert-news,.header-top-action{
    font-size: var(--small-font-size);
}
