<!-- <p>main works!</p> -->


<!-- <script>
    const swiperEl = document.querySelector('swiper-container');
    const btnPrev = document.getElementById('btnPrev');

    btnPrev.addEventListener('click', () => {
        swiperEl.swiper.slideNext();
    });

    const btnNext = document.getElementById('btnNext');

    btnNext.addEventListener('click', () => {
        swiperEl.swiper.slideNext();
    });
</script> -->

<main class="main">
    <!-- ======================== HOME ========================== -->
    <section class="home section-lg">
        <div class="home-container container grid">
            <div class="home-content">
                <span class="home-subtitle">Hot promotions</span>
                <h1 class="home-title">
                    Fashion Trending <span>Great Collections</span>
                </h1>
                <p class="home-description">
                    Save more with coupons & up to 20% off
                </p>
                <a href="" class="btn">Shop Now</a>
            </div>
            <img src="img/home-img.png" alt="" class="home-img">
        </div>
    </section>

    <!-- ========================== CATEGORIES ======================= -->
    <section class="categories container section">
        <h3 class="section-title"><span>Popular</span> Categories</h3>
        <div class="categories-container">
            <div class="swiper-button-prev" (click)="goPrev()">
                <fa-icon class="faicon" [icon]="faAngleLeft" />
            </div>
            <div class="swiper-button-next" (click)="goNext()">
                <fa-icon class="faicon" [icon]="faAngleRight" />
            </div>
        </div>
        <swiper-container [loop]="true" [speed]="1000" #swiperRef>
            <swiper-slide *ngFor="let category of categories; let i = index">
                <div class="category-item">
                    <a [href]="category.route">
                        <img [src]="'img/' + category.img" alt="" class="category-img">
                        <h3 class="category-title"> {{ category.title }} </h3>
                    </a>
                </div>
            </swiper-slide>
        </swiper-container>
        
    </section>
</main>