@if(showapp_newTask){
    <app-newtask [userId]="userId" (close)="onCloseAddTask()"/>
}
<section id="tasks">
    <header>
        <h2>{{name}}'s Task</h2>
        <menu>
            <button (click)="onShowTask()">Add Task</button>
        </menu>
    </header>

    <ul>
        @for (task of selectedUsertasks; track task.id) {
            <li>
                <!-- <app-task [userId]="userId" [task]="task" (complete)="onCompleteTask($event)" /> -->
                <app-task [task]="task" />
            </li>
        }
    </ul>
</section>



