<!-- <p>left-side-nav-bar works!</p> -->
<div class="sidebar">
    <div class="logo-details">
        <!-- Add Logo Here -->

        <!-- Add Logo Here -->
        <span class="logo_name">Gaur Enginer Work</span>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">DashBoard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">DashBoard</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a routerLink="">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
                 <!-- <i [ngClass]="'bx ' + iconName" (click)="toggleIcon()" ></i> -->
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Category</a></li>
                <li><a routerLink="">Wed Design</a></li>
                <li><a routerLink="">Login Form</a></li>
                <li><a routerLink="">Card Design</a></li>
            </ul>
        </li>
        <li [ngClass]="showMenu">
            <div class="icon-link">
                <a routerLink="">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Posts</span>
                </a>
                <!-- <i [ngClass]="'bx' + iconName"  class='bx bx-chevron-down arrow' (click)="toggleIcon()" ></i> -->
                 <i [ngClass]="'bx ' + iconName" (click)="toggleIcon()" ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Posts</a></li>
                <li><a routerLink="">Html & Css</a></li>
                <li><a routerLink="">Java</a></li>
                <li><a routerLink="">Java Script</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="link_name">Analytics</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">Analytics</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx bx-line-chart'></i>
                <span class="link_name">Chart</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">Chart</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a routerLink="">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Plugins</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
                 <!-- <i [ngClass]="'bx ' + iconName" (click)="toggleIcon()" ></i> -->
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Plugins</a></li>
                <li><a routerLink="">UI Face</a></li>
                <li><a routerLink="">Pigments</a></li>
                <li><a routerLink="">Box Icons</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx bx-compass'></i>
                <span class="link_name">Explore</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">Explore</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx bx-history'></i>
                <span class="link_name">History</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">History</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx bx-cog'></i>
                <span class="link_name">Setting</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name">Setting</a></li>
            </ul>
        </li>
        <li>
            <div class="profile-details">
                <div class="profile-content">
                    <!-- <img src="" alt="profile"> -->
                </div>
                <div class="name-job">
                    <div class="profile_name">Admin</div>
                    <div class="job">Web Designer</div>
                </div>
                <a routerLink=""> <i class='bx bx-log-out'></i></a>
            </div>
        </li>
    </ul>

</div>