<!-- <p>left-side-nav-bar works!</p> -->
<div class="sidebar close">
    <div class="logo-details">
        <!-- Add Logo Here -->

        <!-- Add Logo Here -->
        <span class="logo_name">Gaur Enginer Work</span>
    </div>
    <ul class="nav-links">
        <li>
            <a routerLink="">
                <i class='bx bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
        <li>
            <div class="icon-link">
                <a routerLink="">
                    <i class='bx bx-collection'></i>
                    <span class="link_name">Category</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Category</a></li>
                <li><a routerLink="">Wed Design</a></li>
                <li><a routerLink="">Login Form</a></li>
                <li><a routerLink="">Card Design</a></li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a routerLink="">
                    <i class='bx bx-book-alt'></i>
                    <span class="link_name">Posts</span>
                </a>
                <i class='bx bx-chevron-down arrow'></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name">Posts</a></li>
                <li><a routerLink="">Html & Css</a></li>
                <li><a routerLink="">Java</a></li>
                <li><a routerLink="">Java Script</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="">
                <i class='bx  bx-grid-alt'></i>
                <span class="link_name">Dashboard</span>
            </a>
        </li>
    </ul>
</div>