<!-- <p>products works!</p> -->

<section class="products section container">
    <div class="tab-btns">
        <span class="tab-btn active-tab" data-target="#featured" (click)='dataTarget("featured")'  >Featured</span>
        <span class="tab-btn" data-target="#popular" (click)='dataTarget("popular")'>Popular</span>
        <span class="tab-btn" data-target="#new-added" (click)='dataTarget("new-added")' >New added</span>
    </div>

    <div class="tab-items">
        <div class="tab-item active-tab" content id="featured">
            <div class="products-container grid">
                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-1-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-1-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-2-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-2-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-3-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-3-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-4-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-4-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Add more tab items for Popular and New added -->
         <div class="tab-item" id="popular">
            <div class="products-container grid">
                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-5-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-5-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-6-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-6-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-7-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-7-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-8-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-8-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">Hot</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="tab-item"  id="new-added">
            <div class="products-container grid">
                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-9-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-9-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">New</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-10-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-10-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">New</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-11-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-11-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">New</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>

                <div class="product-item">
                    <div class="product-banner">
                        <!-- @for (product of products; track ₹index) { -->
                        <a href="" class="product-images">
                            <!-- <img [src]="'img/'+product.img" alt="" class="product-img"> -->
                            <img [src]="'img/product-12-1.jpg'" alt="" class="product-img default">
                            <img [src]="'img/product-12-2.jpg'" alt="" class="product-img hover">
                        </a>
                        <!-- } -->

                        <div class="product-actions">
                            <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a>
                            <a href="" class="action-btn" aria-label="Add to Wishlist">
                                <fa-icon class="faicon" [icon]="faHeart" />
                            </a>
                            <!-- <a href="" class="action-btn" aria-label="Quick View">
                                <fa-icon class="faicon" [icon]="faEye" />
                            </a> -->
                        </div>

                        <div class="product-badge light-pink">New</div>
                    </div>

                    <div class="product-content">
                        <span class="product-category">Clothing</span>
                        <a href="">
                            <h3 class="product-title">Colorful Pattern Shirts</h3>
                        </a>

                        <!-- Rating Section -->
                        <div class="product-rating">

                        </div>

                        <div class="product-price flex">
                            <span class="new-price">₹238.85</span>
                            <span class="old-price">₹238.85</span>
                        </div>


                        <a href="#" class="action-btn cart-btn" aria-label="Add To Cart">
                            <fa-icon class="faicon" [icon]="faShoppingBag" />
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>