.container{
    position: relative;
    margin: 0 8px;
    // background-color: white;
}

.details{
    padding: 0 8px;
}

.container form .title{
    font-size: 13pt;
    font-weight: 500;
}

.container form .fields-container{
    display: flex;
    justify-content: space-between;
    // width: calc(100% / 2);
}
// 
.row{
    display: flex;
    // justify-content: space-between;
    gap: 0.5rem;
    // padding: 0 8px;
}

.row2{
    display: flex;
    height: 3rem;
}

.tab{
    width: 232px;
    display: flex;
    align-items: center;
}

fieldset{
    // display: inline-block;
    // width: 50%;
    padding: 0 8px;
}

legend{
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}

.container form .fields{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container form .fields2{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field{
    display: flex;
    flex-direction: column;
    margin: 0 4px 4px;
    flex-basis: 100%;
    // width: calc(100% - 20px);
}

form .fields2 .input-field{
    display: flex;
    flex-direction: column;
    margin: 4px 4px;
    // width: calc(100% / 2 - 20px);
    flex: 1;
}

.input-field label{
    font-size: 10pt;
    margin: 4px 0;
}

.input-field input,
.input-field textarea{
    height: 36px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 12px;
    font-size: 9pt;
    font-weight: 400;
}

.input-field textarea{
    height: 40px;
}

.input-field select{
    height: 28px;
    padding: 0px 8px;
}

.input-field input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.input-field input[type="text"]:focus,
.input-field textarea:focus{
    border: 2px solid black;
}
