<!-- <p>bill-entry-form works!</p> -->
<div class="container">
    <form action="">

        <!-- <div class="form-first"> -->
        <div class="details personal">
            <div class="row2">
                <div class="tab"><span class="title">Bill</span></div>
                <div class="tab"><span class="title">Details</span></div>
            </div>
            <!-- <div class="fields-container"> -->
            <div class="row">
                <fieldset>
                    <legend>Details of Receiver</legend>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" id="txtName" placeholder="Enter your name">
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <textarea id="txtAddress"></textarea>
                        </div>
                        <div class="input-field">
                            <label>States</label>
                            <select id="ddlStates">
                                <option value="">Please Select</option>
                                @for (state of states; track $index) {
                                <option [value]="state.tin">{{ state.tin +'-'+ state.name }}</option>
                                }
                            </select>
                        </div>
                        <div class="input-field">
                            <label>GSTIN No.</label>
                            <input type="text" id="txtGSTNo" placeholder="Enter GSTIN No.">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Details of Consignee / Shipped To </legend>
                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" id="txtShippedName" placeholder="Enter your name">
                        </div>
                        <div class="input-field">
                            <label>Address</label>
                            <textarea id="txtShippedAddress"></textarea>
                        </div>
                        <div class="input-field">
                            <label>States</label>
                            <select id="ddlShippedStates">
                                <option value="">Please Select</option>
                                @for (state of states; track $index) {
                                <option [value]="state.tin">{{ state.tin +'-'+ state.name }}</option>
                                }
                            </select>
                        </div>
                        <div class="input-field">
                            <label>GSTIN No.</label>
                            <input type="text" id="txtShippedGSTNo" placeholder="Enter GSTIN No.">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row">
                <div class="fields">
                    <div class="input-field">
                        <label>E-way No.</label>
                        <input type="text" id="txtEwayNo" placeholder="Enter E-way No.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="fields2">
                    <div class="input-field">
                        <label>Date</label>
                        <input type="date" id="txtDate">
                    </div>
                    <div class="input-field">
                        <label>Vehicle No</label>
                        <input type="text" id="txtVehicleNo" placeholder="Enter Vehicle No.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="fields">
                    <div class="input-field">
                        <label>Name Of Transport</label>
                        <input type="text" id="txtNameOfTransport" placeholder="Enter Name Of Transport">
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->



    </form>
</div>