<!-- <p>bill-entry-form works!</p> -->
<div class="container">
    <form action="">

        <div class="form-first">
            <div class="details personal">
                <span class="title">Tax Invoice</span>
                <div class="fields-container">
                    <fieldset>
                        <legend>Details of Receiver</legend>
                        <div class="fields">
                            <div class="input-field">
                                <label>Full Name</label>
                                <input type="text" name="" id="txtName" placeholder="Enter your name">
                            </div>
                            <div class="input-field">
                                <label>Address</label>
                                <textarea name="" id=""></textarea>
                            </div>
                            <div class="input-field">
                                <label>States</label>
                                <select name="" id="">
                                    <option value="">Please Select</option>
                                    <option value="">09-Uttar Pradesh</option>
                                    <option value="">07-Delhi</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label>GSTIN No.</label>
                                <input type="text" name="" id="txtGSTNo" placeholder="Enter GSTIN No.">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Details of Consignee / Shipped To </legend>
                        <div class="fields">
                            <div class="input-field">
                                <label>Full Name</label>
                                <input type="text" name="" id="txtName" placeholder="Enter your name">
                            </div>
                            <div class="input-field">
                                <label>Address</label>
                                <textarea name="" id=""></textarea>
                            </div>
                            <div class="input-field">
                                <label>States</label>
                                <select name="" id="">
                                    <option value="">Please Select</option>
                                    <option value="">09-Uttar Pradesh</option>
                                    <option value="">07-Delhi</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label>GSTIN No.</label>
                                <input type="text" name="" id="txtGSTNo" placeholder="Enter GSTIN No.">
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" name="" id="txtName" placeholder="Enter your name">
                    </div>
                </div>
                <div class="fields2">
                    <div class="input-field">
                        <label>Date</label>
                        <input type="date" name="" id="">
                    </div>
                    <div class="input-field">
                        <label>Vehicle No</label>
                        <input type="text" name="" id="" placeholder="Enter Vehicle No.">
                    </div>
                </div>
                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" name="" id="txtName" placeholder="Enter your name">
                    </div>
                </div>

            </div>
        </div>



    </form>
</div>