<!-- <p>bill-entry-form works!</p> -->
<div class="container">
    <form action="">

        <div class="form-first">
            <div class="details personal">
                <span class="title">Personal Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" name="" id="txtName" placeholder="Enter your name">
                    </div>
                    <div class="input-field">
                        <label>Date of Birth</label>
                        <input type="date" name="" id="txtDob" placeholder="Enter Birth Date">
                    </div>
                    <div class="input-field">
                        <label>Email</label>
                        <input type="email" name="" id="txtEmail" placeholder="Enter your Email">
                    </div>
                </div>
            </div>
        </div>



    </form>
</div>